.DS_Store
*.xcuserstate
/Xogot.xcodeproj/xcuserdata/nstamour.xcuserdatad/xcschemes
/Xogot.xcodeproj/xcuserdata
Xogot.xcodeproj/project.xcworkspace/xcuserdata/nstamour.xcuserdatad/IDEFindNavigatorScopes.plist
